{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}
我的活动
{% endblock %}
{% block  content-title %}
我参加的活动（点击条目显示详细信息）
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static "css/myScore.css" %}?ver=1"/>
<link rel="stylesheet" type="text/css" href="{% static "css/myActivity.css" %}?ver=1"/>
{% endblock %}
{% block content %}
    <div id="myScore-table" class="myScore-table" style="overflow: auto">
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>发布人</th>
                    <th>提交时间</th>
                    <th>加分</th>
                </tr>
            </thead>
            <tbody>
            {% for activity in activity_list %}
                <tr class="myActivity-base">
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.create_by.first.name }}</td>
                    <td>{{ activity.create_time }}</td>
                    <td>{{ activity.score }}</td>
                </tr>
                <tr class="myActivity-detail">
                    <td>详细信息：</td>
                    <td colspan="3">{{ activity.detail }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}