{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Keywords" content="马子轩, 南理工, 综合测评系统, 南京理工大学"/>
    <meta name="Description" content="本网站致力于打造最优化的南理工综合测评系统"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{% block title %}{% endblock %}|综合测评系统</title>
    <script src="{% static 'mui/js/mui.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <link href="{% static 'mui/css/mui.min.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">{% block header %}{% endblock %}</h1>
    </header>

	<div class="mui-content">
		{% block body %}
        {% endblock %}
	</div>

    <footer>
    <script src="{% static 'mui/js/jquery-3.3.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'mui/js/Ajax-csrf.js' %}" type="text/javascript" charset="utf-8"></script>
        {% block footer %}
        {% endblock %}
    <script type="text/javascript">
        mui.ready(function () {
            mui('.mui-bar').on('tap', '#mobile-login-a', function () {
                mui.openWindow({
                    url:'{% url 'zhcp:login' %}',
                })
            });
            mui('.mui-bar').on('tap', '#mobile-register-a', function () {
                mui.openWindow({
                    url:'{% url 'zhcp:register' %}',
                })
            });
        });
    </script>
    </footer>
</body>
</html>