{% extends 'mobile/base0.html' %}
{% load staticfiles %}
{% block title %}登录|综合测评系统{% endblock %}
{% block head %}
    <link href="{% static 'mui/css/login.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block header %}登录{% endblock %}
{% block body %}
    <div id="NJUSTlogo" style="margin: 10px auto;width: 60%;">
        <img src="{% static 'img/NJUSTlogo.png' %}" style="width: 100%;" alt="南京理工大学">
    </div>
    <div class="login-h1">
        <span>欢迎使用综合测评系统</span>
    </div>
    <div class="login-from">
    <form>
        <div class="mui-input-row">
            <label>
                <span class="mui-icon mui-icon-person"></span>
                <div style="width: 1px;height: 24px;background-color: gray;display: inline-block;vertical-align: top;margin: 0 5px;"></div>
            </label>
            <input type="text" class="mui-input-clear" placeholder="请输入学号">
        </div>
        <div class="mui-input-row">
            <label>
                <span class="mui-icon mui-icon-locked"></span>
                <div style="width: 1px;height: 24px;background-color: gray;display: inline-block;vertical-align: top;margin: 0 5px;"></div>
            </label>
            <input type="password" class="mui-input-password" placeholder="请输入密码">
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn mui-btn-primary" id="button-login">登录</button>
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn" id="button-register" style="margin: 0 auto;">注册</button>
        </div>
    </form>
    </div>
{% endblock %}