{% load staticfiles %}
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>提交成功|综合测评系统</title>
        <meta name="Keywords" content="马子轩, 南理工, 综合测评系统, 南京理工大学"/>
		<meta name="Description" content="本网站致力于打造最优化的南理工综合测评系统"/>
		<meta name="Keywords" content="马子轩, 南理工, 综合测评系统, 南京理工大学"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{% static 'mui/css/mui.min.css' %}" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">提交成功</h1>
		</header>
		<script src="{% static 'mui/js/mui.min.js' %}"></script>
		<script type="text/javascript">
			mui.init();
			mui.ready(function(){
				mui.alert('提交成功', '提示', '确定', function(){
					mui.openWindow('{% url 'zhcp:index' %}');
				})
			})
		</script>
	</body>

</html>
