#table{
    position: relative;
}
.menu-left{
	height: 460px;
	background-color: rgba(0,0,0,0.3);
	/*position: absolute;*/
	/*top: 0;*/
    /*left: 20px;*/
	width: 200px;
	line-height: 0;
    margin: 0 20px;
}

.menu-left-option, .title{
    margin: 0;
    display: block;
    text-align: left;
    height: 40px;
    text-decoration: none;
    border-top: 1px solid #F8F8F8;
    background-color: rgba(255,255,255,0);
}
.title{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    border: none;
}

.menu-left-option-img {
    width: 20px;
    margin: 0 10px 0 20px;
    vertical-align: middle;
}

/*右侧内容*/
.content{
    margin: 0;
    width: 900px;
    height: 460px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 260px;
    top: 0;
}

/*myScore中的内容*/
.myScore-table{
    width: 100%;
    /*background-color: red;*/
    text-align: center;
}
.myScore-table table{
    width: 100%;
    border: none;
    border-collapse:collapse;
}
.myScore-table thead, .myScore-table tfoot{
    background-color: rgba(0,0,0,0.4);
}
.myScore-table td{
    border-top: 1px solid #F8F8F8;
}


/*submitApplication中的内容*/
.submit-application-form{
    text-align: left;
    padding: 20px;
}
.submit-application-form table{
    width: 100%;
    border-collapse:collapse;
}
.submit-application-form tr>td:first-child{
    text-align: right;
    padding-right: 15px;
    width: 200px;
}
.submit-application-error{
    display: none;
}
.submit-application-form td{
    border-top: 1px solid #F8F8F8;
}
.submit-application-form input, .submit-application-form textarea {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-left: 1px solid #f8f8f8;
    height: 40px;
    color: white;
    padding-left: 15px;
    width: 300px;
    font-size: 16px;
}
.submit-application-form textarea{
    height: 200px;
    padding-top: 20px;
    display: block;
    resize: none;
}
.submit-application-form input[type='submit']{
    margin: 10px;
    border: 1px solid #F8F8F8;
}


