.myActivity-detail{
    display: none;
}
.myActivity-detail>td:last-child{
    text-align: left;
    text-indent: 2em;
}


/*因为在reviewApplication.html文件中也引用了这个CSS文件，
所以下边设置reviewApplication的样式属性*/
.reviewApplication-title{
    width: 50%;
    float: left;
}
.reviewApplication-title-bar{
    width: 4em;
    height: 3px;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 3px;
    left: calc(-2em + 25%);
}
#reviewApplication-tbody-2{
    display: none;
}
.reviewApplication-a, #reviewApplication-input{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    color: white;
    width: 300px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    border: 1px solid #F8F8F8;
}



/*UISwitch部分*/
.switchBase{
	width: 53px;
	height: 32px;
	vertical-align: middle;
	float: left;
	border-radius: 16px;/*圆角半径设置为height的一半即可*/
	border: 1px solid darkgray;
	background-color: rgba(0,0,0,0);/*这个背景在苹果中是白色，在这里我设置成了暗灰色*/
	position: relative;
    margin: 3px 10px;
}
.switchBase>.switchThumb{
	margin: 1px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	/* float: left;*/
	/* float: right; */
	position: absolute;
	left: 0;
	/* right: 0; */
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 0 0.1625rem 0.0125rem gray;
}
