/*myScore中的内容*/
.myScore-table{
    width: 100%;
    height: calc(100% - 80px);
    /*background-color: red;*/
    text-align: center;
}
.myScore-table table{
    width: 100%;
    border: none;
    border-collapse:collapse;
}
.myScore-table thead, .myScore-table tfoot{
    background-color: rgba(0,0,0,0.4);
}
.myScore-table td{
    border-top: 1px solid #F8F8F8;
}
.myScore-table td:first-child{
    border-top: 1px solid #F8F8F8;
    width: 200px;
}

.myScore-table img{
    height: 20px;
    vertical-align: middle;
}
