{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页|综合测评系统</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}?ver=1"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}?ver=1"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}?ver=1"/>
	
{#	<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>#}
{#	<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>#}
{#	<link rel="stylesheet" type="text/css" href="../static/css/index.css"/>#}
</head>
<body>
    <header>
        <!-- 南京理工logo -->
        <img id="logo-mini" src="{% static 'img/login/logo-mini.png' %}" alt="南京理工大学logo" title="南京理工大学">

        <!-- 搜索框 -->
        <div id="searchBox" class="searchBox">
            <!--搜索按钮图标-->
            <img src="{% static 'img/search.png' %}" class="searchIcon" alt="搜索">
            <!--搜索input框-->
            <input class="searchInput" id="searchInput" type="text" maxlength="20" value="" placeholder="搜索库存信息">
        </div>

        <!-- 注销按钮 -->
        <div id="log-button">
            <a href="{% url 'zhcp:logout' %}" class="log-button-login-1">注销</a>
        </div>

        <!-- 用户 -->
        <span id="span-username"><img src="{% static 'img/index/用户.png' %}" alt="{{ name }}">{{ name }}</span>
    </header>
    <div id="main" class="main">
		<!-- 小标题 -->
        <div id="header-bar" class="box header-bar">
			<span>欢迎使用综合测评系统</span>
			<div class="border-bottom"></div>
        </div>
		<!-- 桌面 -->
		<div id="table" style="position: relative;">
			<div id="user" class="box user">
				<img src="{% static 'img/index/用户big.png' %}" alt="{{ name }}"/>
				<table border="0" cellspacing="5px" cellpadding="" >
					<tr>
						<td>姓名：</td>
						<td>{{ name }}</td>
					</tr>
					<tr>
						<td>学号：</td>
                        <td>{{ student_id }}</td>
					</tr>
					<tr>
						<td>身份：</td>
                        <td id="identity">{{ identity }}</td>
					</tr>
					<tr>
						<td>总分：</td>
                        <td>{{ score_sum }}</td>
					</tr>
				</table>
			</div>
			<div id="menu" class="menu">
				<a href="{% url 'zhcp:myScore' %}" id="menu-option-1" class="box menu-option">
					<div>
						<img src="{% static 'img/index/成绩.png' %}" class="menu-option-img" alt="我的加分">
					</div>
					<span>我的加分</span>
				</a>
				<a href="{% url 'zhcp:submitApplication' %}" id="menu-option-2" class="box menu-option">
					<div>
						<img src="{% static 'img/index/申请.png' %}" class="menu-option-img" alt="提交申请">
					</div>
					<span>提交申请</span>
				</a>
				<a id="menu-option-3" class="box menu-option">
					<div>
						<img src="{% static 'img/index/我的申请.png' %}" class="menu-option-img" alt="我的申请">
					</div>
					<span>我的申请</span>
				</a>
				<a id="menu-option-4" class="box menu-option">
					<div>
						<img src="{% static 'img/index/我的活动.png' %}" class="menu-option-img" alt="我的活动">
					</div>
					<span>我的活动</span>
				</a>
				<a id="menu-option-5" class="box menu-option">
					<div>
						<img src="{% static 'img/index/审批申请.png' %}" class="menu-option-img" alt="申请审核">
					</div>
					<span>申请审核</span>
				</a>
				<a id="menu-option-6" class="box menu-option">
					<div>
						<img src="{% static 'img/index/活动.png' %}" class="menu-option-img" alt="提交活动">
					</div>
					<span>提交活动</span>
				</a>
			</div>
		</div>
    </div>
    <footer>
        <hr style="height:3px;border:none;border-top:2px solid #fc5806;"/>
        <p>本网站由马子轩制作</p>
    </footer>
    <script src="{% static "js/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.color-2.1.2.js' %}" type="text/javascript" charset="UTF-8"></script>
    <script src="{% static "js/header.js" %}?ver=1" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/Ajax-csrf.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/index.js" %}?ver=1" type="text/javascript" charset="utf-8"></script>


	
{#	<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>#}
{#	<script src="../static/js/Ajax-csrf.js" type="text/javascript" charset="utf-8"></script>#}
{#	<script src="../static/js/header.js" type="text/javascript" charset="utf-8"></script>#}
{#	<script src="../static/js/jquery.color-2.1.2.js" type="text/javascript" charset="utf-8"></script>#}
{#	<script src="../static/js/index.js" type="text/javascript" charset="utf-8"></script>#}
</body>
</html>