{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}
申请审核
{% endblock %}
{% block  content-title %}
    <div id="reviewApplication-title-1" class="reviewApplication-title">
        <span>待审核</span>
    </div>
    <div id="reviewApplication-title-2" class="reviewApplication-title">
        <span>审核通过</span>
    </div>
    <div id="reviewApplication-title-3" class="reviewApplication-title">
        <span>审核未通过</span>
    </div>
    <div class="reviewApplication-title-bar"></div>
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static "css/myScore.css" %}?ver=1"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/myApplication2.css" %}?ver=1"/>
{% endblock %}
{% block content %}
    <div id="myScore-table" class="myScore-table" style="overflow: auto">
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>加分</th>
                    <th>提交时间</th>
                    <th>审核人</th>
                    <th>审核时间</th>
                    <th>当前状态</th>
                </tr>
            </thead>
            <tbody id="reviewApplication-tbody-1" class="reviewApplication-tbody">
            {% for foo in without_apply %}
                <tr>
                    <td>{{ foo.name }}</td>
                    <td>{{ foo.score }}</td>
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.captain_id | default_if_none:''}}</td>
                    <td>{{ foo.change_time }}</td>
                    <td>未审核</td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="reviewApplication-tbody-2" class="reviewApplication-tbody">
            {% for foo in success %}
                <tr>
                    <td>{{ foo.name }}</td>
                    <td>{{ foo.score }}</td>
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.captain_id }}</td>
                    <td>{{ foo.change_time }}</td>
                    <td style="color: lawngreen">审核通过</td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="reviewApplication-tbody-3" class="reviewApplication-tbody">
            {% for foo in fail %}
                <tr>
                    <td>{{ foo.name }}</td>
                    <td>{{ foo.score }}</td>
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.captain_id }}</td>
                    <td>{{ foo.change_time }}</td>
                    <td style="color: red">审核未通过</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/reviewApplication.js" %}?ver=1" type="text/javascript" charset="utf-8"></script>
{% endblock %}