{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}
申请审核
{% endblock %}
{% block  content-title %}
    <div id="reviewApplication-title-1" class="reviewApplication-title">
        待审核
    </div>
    <div id="reviewApplication-title-2" class="reviewApplication-title">
        已审核
    </div>
    <div class="reviewApplication-title-bar"></div>
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static "css/myScore.css" %}?ver=1"/>
<link rel="stylesheet" type="text/css" href="{% static "css/myActivity.css" %}?ver=1"/>
{% endblock %}
{% block content %}
    <div id="myScore-table" class="myScore-table" style="overflow: auto">
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>申请人</th>
                    <th>提交时间</th>
                    <th>加分</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="reviewApplication-tbody-1" class="reviewApplication-tbody">
            {% for foo in application_list_without_apply %}
                <tr>
                    <td>{{ foo.name }}</td>
                    <td>{{ foo.student_id.student_id }}--{{ foo.student_id.name }}</td>
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.score }}</td>
                    <td><a href="">查看详细信息</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="reviewApplication-tbody-2" class="reviewApplication-tbody">
            {% for foo in application_list_applied %}
                <tr>
                    <td>{{ foo.name }}</td>
                    <td>{{ foo.student_id.student_id }}--{{ foo.student_id.name }}</td>
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}