{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}
申请详情
{% endblock %}
{% block  content-title %}
申请的详细信息
{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/submitApplication.css' %}?ver=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/myActivity.css' %}?ver=1" />
{% endblock %}
{% block content %}
    <div id="submit-application-form" class="submit-application-form" style="overflow: auto">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><span>活动编号：</span></td>
                <td><span id="application-pk">{{ application.pk }}</span></td>

            </tr>
            <tr>
                <td><span>活动名称：</span></td>
                <td><span>{{ application.name }}</span></td>

            </tr>
            <tr>
                <td><span>活动加分：</span></td>
                <td><span>{{ application.score }}</span></td>

            </tr>
            <tr>
                <td><span>详细信息：</span></td>
                <td><span>{{ application.detail }}</span></td>
            </tr>
            <tr>
                <td><span>提交时间：</span></td>
                <td><span>{{ application.create_time }}</span></td>
            </tr>
            <tr>
                <td><span>审核时间：</span></td>
                <td><span>{% if application.change_time == application.create_time %}未审核{% else %}{{ application.change_time }}{% endif %}</span></td>
            </tr>
            <tr>
                <td><span>审核：</span></td>
                <td>
                    <div id="switchBase" class="switchBase">
                        <div id="switchThumb" class="switchThumb"></div>
                    </div>
                    <span id="reviewApplication-review" value="False">拒绝申请</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><a href="{% url 'zhcp:reviewApplication' %}" class="reviewApplication-a">返回</a><div id="reviewApplication-input" class="reviewApplication-a">√提交</div></td>
            </tr>
        </table>
    </div>
{% endblock %}